.stat {
  padding: 10px 0;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top,
    .bottom {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .top {
      position: relative;

      .top-icon {
        position: absolute;
        right: -16px;
        top: -8px;
      }
    }

    .bottom {
      font-size: 36px;
    }}

}