.collapse_panel_title {
  display: flex;

  .left {
    margin-right: 8px;
  }

  .right {
    .top {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: rgb(0 0 0 / 88%);

      .time {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: rgb(0 0 0 / 45%);
      }
    }

    .bottom {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgb(0 0 0 / 65%);
    }
  }
}

.collapse_panel_body {
  border-top: 1px solid #f5f5f5;

  .label {
    margin-bottom: 10px;
  }

  .value {
    display: flex;
    flex-wrap: wrap;

    .time_block {
      padding: 5px 10px;
      margin: 5px;
      margin-right: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgb(0 0 0 / 65%);
      background-color: #f5f5f5;
      border-radius: 8px;
    }
  }
}

.exception_drawer {
  .tool_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 16px;
  }

  .collapse_panel_title {
    display: flex;
    align-items: center;

    .title {
      font-size: 14;
      font-weight: 500;
      color: 'rgba(0,10,26,0.89)';
    }
  }

  .collapse_panel_body {
    padding-top: 12;
    margin-top: 0;
    border-top: 1px solid #f7f7f7;

    .body {
      padding: 15px;
      margin-top: 12px;
      background-color: #f7faff;
      border-radius: 8px;

      .label {
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 10 26 / 45%);
      }

      .value {
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 10 26 / 89%);
      }
    }

    .header {
      display: flex;
      margin-top: 16px;
      font-size: 16px;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 24px;

        .label {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: rgb(0 10 26 / 45%);
        }

        .value {
          font-size: 14px;
          font-weight: 400;
          color: rgb(0 10 26 / 89%);
        }
      }

      .item:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
