.g6Topology {
  display: flex;
  flex-direction: column;
  background-color: #f7faff;
  border-radius: 8px;

  .tool_bar {
    height: 22px;
    padding: 20px 16px;
    color: rgba(0, 10, 26, 0.68);
    font-weight: 400;
    font-size: 14px;
    font-family: PingFangSC;
    line-height: 22px;
  }

  .overviewG6 {
    position: relative;
    flex: 1;
    // padding: 10px 20px;
  }
}
