.yaml_content {
  height: 100%;
  overflow-y: auto;
  border-radius: 8px;

  .copy {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .yaml_container {
    height: 100%;
    background-color: #000;
    .yaml_box {
      width: 100%;
      padding: 1.5rem 2rem;
      overflow-y: auto;
      font:
        1.1em Inconsolata,
        monospace;
      color: #fff;
      word-break: break-all;
      white-space: pre-wrap;
      background-color: #000;
      border-radius: 8px;
      box-sizing: border-box;
    }
  }
}
