.yaml_content {
  position: relative;
  overflow-y: auto;

  .copy {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .yaml_box {
    width: 100%;
    height: 500px;
    max-height: 800px;
    min-height: 300px;
    padding: 1.5rem 2rem;
    overflow-y: auto;
    font:
      1.1em Inconsolata,
      monospace;
    color: #fff;
    word-break: break-all;
    white-space: pre-wrap;
    background-color: #000;
    border-radius: 8px;
    box-sizing: border-box;
  }
}
