.execption_stat {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(0 0 0 / 65%);
  align-items: center;

  .title {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    align-items: center;

    &.active {
      padding: 10px;
      background: rgb(22 119 255 / 10%);
      border-radius: 8px;
    }
  }

  .num {
    padding: 2px 10px;
    margin-left: 5px;
    font-size: 12px;
    background-color: rgb(0 0 0 / 3%);
    border-radius: 10px;
    transform: scale(0.8);
  }
}
