.enhancer {
  padding: 10px;
  height: 400px;
  .search {
    display: flex;
    align-items: center;
    margin: 10px 0;
    .stat {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin-left: 20px;
      .item {
        margin: 0 5px;
        .label {
          margin-right: 10px;
          display: inline-block;
        }
        .value {
          font-weight: bold;
          display: inline-block;
        }
      }
      .item:nth-child(1) {
        margin-left: 10px;
      }
    }
  }
}
