.table_header {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
  align-items: center;

  .table_title {
    margin-right: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 10 26 / 89%);

    span {
      display: inline-block;
      padding: 0 12px;
      font-size: 14px;
      font-weight: 400;
      color: rgb(0 10 26 / 45%);
      background-color: rgb(250 155 20 / 6%);
      border-radius: 14px;
    }
  }
}
