.search_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold;
    }

    .subTitle {
      color: #646566;
    }

    .searchTab {
      display: flex;
      padding: 20px 0;
      justify-content: center;
      margin-left: 32px;
    }

    .examples {
      height: 130px;
      max-height: 260px;
      padding: 15px;
      margin-top: 10px;
      border-radius: 8px;

      .keywords,
      .sql {
        display: flex;
        color: #000;
        flex-flow: row wrap;
        justify-content: center;

        .karpor_tag {
          padding: 2px 5px;
          margin: 4px;
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
          background: rgb(244 244 245);
          border: 1px solid rgb(228 228 231 / 50%);
          border-radius: 6px;
        }

        .toggle_button {
          width: 750px;
          margin-top: 10px;
          font-size: 12px;
          text-align: center;

          .toggle_icon {
            margin-left: 5px;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

.option_item {
  display: flex;
  width: 100%;
  overflow-y: auto;
  justify-content: space-between;
  align-items: center;

  .option_item_label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .option_item_delete {
    cursor: pointer;
  }
}

.iconFont {
  padding-right: 10px;
  color: #1890ff;
  cursor: pointer;
}

.box {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.basic-syntax {
  flex: 1;
  padding: 10px;

  .item-box {
    height: 100px;
    margin-bottom: 20px;

    .title {
      margin-bottom: 20px;
      font-weight: 400;
    }

    .children-item-box {
      margin-bottom: 15px;
      cursor: pointer;

      .children-item {
        padding: 4px 8px;
        margin-bottom: 10px;
        font-size: 12px;
        text-align: left;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 4%);

        &:hover {
          border: 1px solid #d9d9d9;
        }
      }
    }
  }
}

.searchFilterKeyword {
  color: #1890ff;
}

@keyframes cursor-blinks {
  0% {
    display: block;
    opacity: 1;
  }

  50% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.cursor {
  position: relative;
  width: 0;
  overflow: visible;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 100%;
  background: black;
  transform: translate(0, -50%);
  animation: cursor-blinks 1.5s infinite steps(1, start);
}

@media screen and (width <= 640px) {
  .search_container {
    .search {
      .title {
        width: 300px;
      }
    }

    .search_codemirror_container {
      width: 550px;
    }

    .examples {
      width: 500px;
    }
  }
}

@media screen and (width >= 641px) and (width <= 768px) {
  .search_container {
    .search {
      .title {
        width: 300px;
      }
    }

    .search_codemirror_container {
      width: 80%;
      max-width: 680px;
      min-width: 570px;
    }

    .examples {
      width: 600px;
    }
  }
}

@media screen and (width >= 769px) and (width <= 1024px) {
  .search_container {
    .search {
      .title {
        width: 300px;
      }
    }

    .search_codemirror_container {
      width: 80%;
    }

    .examples {
      width: 700px;
    }
  }
}

@media screen and (width >= 1024px) and (width <= 1280px) {
  .search_container {
    .search {
      .title {
        width: 400px;
      }
    }

    .search_codemirror_container {
      width: 900px;
      max-width: 1000px;
      min-width: 880px;
    }

    .examples {
      width: 800px;
    }
  }
}

@media screen and (width >= 1280px) and (width <= 1536px) {
  .search_container {
    .search {
      .title {
        width: 400px;
      }
    }

    .search_codemirror_container {
      width: 1100px;
      max-width: 1400px;
      min-width: 900px;
    }

    .examples {
      width: 800px;
    }
  }
}

@media screen and (width >= 1536px) and (width <= 1920px) {
  .search_container {
    .search {
      .title {
        width: 400px;
      }
    }

    .search_codemirror_container {
      width: 1300px;
      max-width: 1700px;
      min-width: 1200px;
    }

    .examples {
      width: 800px;
    }
  }
}

@media screen and (width >= 1920px) {
  .search_container {
    .search {
      .title {
        width: 400px;
      }
    }

    .search_codemirror_container {
      width: 1300px;
      max-width: 1700px;
      min-width: 1200px;
    }

    .examples {
      width: 800px;
    }
  }
}
