.card {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  .left {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }

  .right {
    text-align: center;
  }

}
