.container {
  background: #fff;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.typeFilter {
  width: 120px;
}

.error {
  margin-bottom: 16px;
}
