.appContainer {
  margin: 0;
}

/* 根据实际的Tag标签样式可能需要调整 */
.antTag {
  margin-bottom: 6px;

  /* 为Tag之间的垂直间距 */
}

/* 按钮样式 */
.toggleButton {
  font-size: 12px;
  color: #646566;
  text-align: center;
  cursor: pointer;
}

.popCard {
  .item {
    margin-bottom: 5px;
  }

  .label {
    margin-right: 5px;
    color: rgb(0 0 0 / 48%);
    // width: 120px;
  }

  .value {
    overflow: hidden;
    color: rgb(0 0 0 / 89%);
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }
}
