.karbour_editor_container {
  background: #f1f1f1;
  border: 8px solid #f1f1f1;
  border-radius: 40px;

  .karbour_editor {
    display: flex;
    background: #f1f1f1;
    align-items: center;

    .karbour_editor_prefix {
      height: 40px;
      padding-left: 10px;
      margin-right: 10px;
      font-size: 16px;
      line-height: 40px;
      color: #999;
      text-align: center;
      background: #f1f1f1;
      border-radius: 40px 0 0 40px;
    }

    .karbour_editor_divider {
      display: flex;
      height: 40px;
      background: #fff;
      align-items: center;
    }

    .karbour_editor_btn_container {
      display: flex;
      height: 40px;
      padding-right: 10px;
      background: #fff;
      align-items: center;
      border-radius: 0 40px 40px 0;

      .karbour_editor_btn {
        display: flex;
        height: 28px;
        padding: 0 15px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background: #2f54eb;
        border-radius: 40px;
        justify-content: center;
        align-items: center;

        img {
          width: 20px;
          height: 16px;
        }
      }
    }
  }
}
