.summary_card {
  position: relative;
  width: 300px;
  height: 475px;
  padding: 20px 0;
  margin-right: 10px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.summary {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;

  .field_box {
    .item {
      display: flex;
      margin-right: 24px;
      margin-bottom: 12px;
      font-size: 14px;
      // flex-direction: column;
      font-weight: 400;
      line-height: 22px;

      &.namespaceStat {
        font-weight: bold;
      }

      .label {
        margin-right: 5px;
        color: rgb(0 0 0 / 48%);
        // width: 120px;
      }

      .value {
        overflow: hidden;
        color: rgb(0 0 0 / 89%);
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }
    }
  }
}

.popoverItem {
  margin-bottom: 5px;

  .popoverLabel {
    margin-right: 5px;
    color: rgb(0 0 0 / 48%);
  }

  .popoverValue {
    color: rgb(0 0 0 / 89%);
  }
}
