.container {
  padding-bottom: 20px;
  border-top: 1px solid #f7faff;
  border-bottom: 1px solid #f7faff;

  .title {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 10, 26, 0.89);
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 20px;
  }

  .content {
    .desc {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        .label {
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 10, 26, 0.45);
        }

        .value {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 10, 26, 0.89);
        }
      }
    }

    .footer {
      margin-top: 16px;
      padding: 16px;
      background-color: #f7faff;
      border-radius: 8px;

      .footer_title {
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 10, 26, 0.45);
      }

      .soultion {
        max-height: 500px;
        overflow: auto;
      }
    }
  }
}
