.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .pageTitle {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0 10 26 / 89%);
  }

  .content {
    height: 100%;
    padding: 16px 24px;
    background: #fff;
    border-radius: 8px;
    flex: 1;

    .header {
      display: flex;
      align-items: center;

      .dropText {
        color: rgb(0 10 26 / 89%);
      }

      .selectTips {
        margin-left: 24px;
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 10 26 / 28%);

        .bulb {
          color: orange;
        }
      }
    }

    .stat {
      display: flex;
      height: 120px;
      padding: 12px 26px;
      margin: 20px 0 24px;
      background-color: #f7faff;
      border-radius: 8px;
      align-items: center;

      .circle {
        margin-right: 68px;
      }

      .symbol {
        margin: 0 48px;
        font-size: 16px;
        font-weight: 400;
        color: rgb(0 0 0 / 89%);
      }
    }

    .toolBar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        font-size: 14px;
        font-weight: 500;
        color: rgb(0 10 26 / 89%);
      }
    }

    .list {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      // justify-content: center;
      grid-template-columns: repeat(auto-fill, 350px);
      grid-gap: 20px;
      margin-top: 20px;
    }
  }
}
