.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    margin-bottom: 16px;
  }

  .content {
    flex: 1;
    box-sizing: border-box;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    overflow: scroll;

    .right {
      flex: 1;
      overflow: scroll;
      margin-left: 16px;
      border-radius: 8px;
    }
  }
}
