.execption_drawer {
  .tool_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 16px;
  }

  .collapse_panel_title {
    .top {
      display: flex;
      align-items: center;

      .title {
        font-size: 14;
        font-weight: 500;
        color: 'rgba(0,10,26,0.89)';
      }
    }

    .bottom {
      display: flex;
      width: 100%;
      padding-left: 36px;
      font-size: 12px;
      box-sizing: border-box;
      align-items: center;

      .label {
        margin-right: 2px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(0 10 26 / 45%);
      }

      .value {
        width: 0;
        overflow: hidden;
        font-weight: 400;
        color: rgb(0 10 26 / 89%);
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }
    }
  }

  .collapse_panel_body {
    padding-top: 12;
    margin-top: 0;
    border-top: 1px solid #f7f7f7;

    .body {
      padding: 15px;
      margin-top: 12px;
      background-color: #f7faff;
      border-radius: 8px;

      .label {
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 10 26 / 45%);
      }

      .value {
        max-height: 500px;
        overflow: auto;
      }
    }

    .row_item {
      display: flex;
      font-weight: 400;

      .label {
        color: rgb(0 10 26 / 45%);
      }

      .value {
        flex: 1;
      }
    }

    .header {
      display: flex;
      margin-top: 16px;
      font-size: 16px;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-weight: 400;

        .label {
          font-size: 14px;
          line-height: 24px;
          color: rgb(0 10 26 / 45%);
        }

        .value {
          font-size: 14px;
          color: rgb(0 10 26 / 89%);
        }
      }

      .item:nth-child(1) {
        margin-left: 0;
      }
    }

  }
}
